Repository team-aliens/DMS-Backend: changes, and which Codecov flags are due for each by the changed paths.
All: overall, main-service, notification-service, gateway-service, Main Service, Notification Service, Gateway Service

codecov.yml:

codecov:
  require_ci_to_pass: yes

# PR에 댓글 설정
comment:
  layout: "header,diff,flags,components,files,footer"
  behavior: default
  require_changes: false
  after_n_builds: 4  # overall + main + notification + gateway

# 서비스별 플래그 설정
flag_management:
  default_rules:
    carryforward: true
    
flags:
  overall:
    paths:
      - dms-main/
      - dms-notification/
      - dms-gateway/
    carryforward: false
    
  main-service:
    paths:
      - dms-main/
    carryforward: true
    
  notification-service:
    paths:
      - dms-notification/
    carryforward: true
    
  gateway-service:
    paths:
      - dms-gateway/
    carryforward: true

# 서비스별 컴포넌트 설정
component_management:
  default_rules:
    statuses:
      - type: project
        target: 70%
        
  individual_components:
    - component_id: main-service
      name: Main Service
      paths:
        - dms-main/**
      
    - component_id: notification-service
      name: Notification Service
      paths:
        - dms-notification/**
      
    - component_id: gateway-service
      name: Gateway Service
      paths:
        - dms-gateway/**

coverage:
  precision: 2
  round: down
  range: "60...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 2%
        base: auto
        
    patch:
      default:
        target: 80%
        threshold: 5%
        
    changes:
      default:
        target: 70%

# 커버리지에서 제외할 파일
ignore:
  - "**/test/**"
  - "**/stub/**"
  - "**/*Test.kt"
  - "**/*Tests.kt"
  - "**/config/**"
  - "**/exception/**"
  - "**/dto/**"
  - "**/entity/**"
  - "**/*Application.kt"
  - "**/contracts/**"
  - "**/*Request.kt"
  - "**/*Response.kt"
  - "**/*Properties.kt"

test: (#1004) 테스트 코드 수정
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/service/CommandNotificationServiceImplTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/service/impl/CommandNotificationServiceImplTest.kt
Due: none

fix: (#1008) CD파일 aws에 맞게 수정
  .github/workflows/prod-cd.yml
Due: none

fix: (#1010) WarningTag nextLevel ArrayIndexOutOfBoundsException 방지
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/tag/model/WarningTag.kt
Due: overall, main-service, Main Service

fix: (#1010) UpdateStudentTagsUseCase 스케줄러 TagNotFoundException 버그 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/tag/usecase/UpdateStudentTagsUseCase.kt
Due: overall, main-service, Main Service

fix: (#1010) queryPointTotalsGroupByStudent GCN 조합 쿼리 수정
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/point/PointHistoryPersistenceAdapter.kt
Due: overall, main-service, Main Service

test: (#1010) UpdateStudentTagsUseCase 테스트 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/tag/usecase/UpdateStudentTagsUseCaseTest.kt
Due: none

fix: (#1010) MySQL CAST 구문 string -> CHAR 수정
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/point/PointHistoryPersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/VolunteerScorePersistenceAdapter.kt
Due: overall, main-service, Main Service

fix: (#1010) 업그레이드 시 경고 태그만 삭제하도록 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/tag/usecase/UpdateStudentTagsUseCase.kt
Due: overall, main-service, Main Service

test: (#1010) 테스트 stubbing을 it 블록 안으로 이동
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/tag/usecase/UpdateStudentTagsUseCaseTest.kt
Due: none

fix: (#1012) 리슈 요청 시 access token만 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/auth/spi/JwtPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/auth/usecase/ReissueTokenUseCase.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/token/GenerateJwtAdapter.kt
Due: overall, main-service, Main Service

style: (#1012) 주석 제거
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/token/GenerateJwtAdapter.kt
Due: overall, main-service, Main Service

test: (#1012) ReissueTokenUseCase 테스트 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/auth/usecase/ReissueTokenUseCaseTest.kt
Due: none

feat: (#1014) 기숙사 생활 규정 md파일 추가
  dms-main/main-infrastructure/src/main/resources/regulations/dormitory-rules.md
Due: overall, main-service, Main Service

feat: (#1014) chatbot service 레이어 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/chatbot/service/ChatbotService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/chatbot/service/ChatbotServiceImpl.kt
Due: overall, main-service, Main Service

feat: (#1014) chatbot port 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/chatbot/spi/ChatAiPort.kt
Due: overall, main-service, Main Service

feat: (#1014) Gemini Client 설정 및 Gemini adapter 추가
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/GeminiClientAdapter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/client/GeminiClient.kt
Due: overall, main-service, Main Service

feat: (#1014) Gemini dto 추가
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/client/dto/GeminiGenerateContentRequest.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/client/dto/GeminiGenerateContentResponse.kt
Due: none

feat: (#1014) 기숙사 생활 규정 port 및 adapter 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/chatbot/spi/RegulationDocumentPort.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/RegulationDocumentAdapter.kt
Due: overall, main-service, Main Service

feat: (#1014) 예외처리 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/chatbot/exception/ChatbotErrorCode.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/chatbot/exception/ChatbotExceptions.kt
Due: none

feat: (#1014) Groq Client 설정 및 Groq adapter 추가
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/GroqClientAdapter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/client/GroqClient.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/client/dto/GroqChatCompletionRequest.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/client/dto/GroqChatCompletionResponse.kt
Due: overall, main-service, Main Service

feat: (#1014) chatbot usecase 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/chatbot/usecase/AskChatbotUseCase.kt
Due: overall, main-service, Main Service

feat: (#1014) chatbot web adapter 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/chatbot/dto/ChatbotAnswerResponse.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/chatbot/ChatbotWebAdapter.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/chatbot/dto/request/AskChatbotWebRequest.kt
Due: overall, main-service, Main Service

fix: (#1014) Security Config 설정
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/api/config/EnableFeignClientsConfig.kt
Due: overall, main-service, Main Service

fix: (#1014) chatbot 환경변수 추가
  dms-main/main-infrastructure/src/main/resources/application.yml
Due: overall, main-service, Main Service

fix: (#1014) chatbot security 경로 오타 수정 (/chatbot → /chatbots)
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
Due: overall, main-service, Main Service

fix: (#1014) 에러 로그 남기기
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/GeminiClientAdapter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/GroqClientAdapter.kt
Due: overall, main-service, Main Service

fix: (#1014) 엔터 추가
  dms-main/main-infrastructure/src/main/resources/regulations/dormitory-rules.md
Due: overall, main-service, Main Service

fix: (#1014) AI timeout 시간 설정
  dms-main/main-infrastructure/src/main/resources/application.yml
Due: overall, main-service, Main Service

fix: (#1014) gemeni를 의존하도록 수정
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/GeminiClientAdapter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/GroqClientAdapter.kt
Due: overall, main-service, Main Service

fix: (#1014) Groq 관련 코드 삭제
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/GeminiClientAdapter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/GroqClientAdapter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/client/GroqClient.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/client/dto/GroqChatCompletionRequest.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/ai/client/dto/GroqChatCompletionResponse.kt
  dms-main/main-infrastructure/src/main/resources/application.yml
Due: overall, main-service, Main Service

style: (#1016) 코드 공백 추가 및 엔터 삭제
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/auth/usecase/ReissueTokenUseCaseTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/tag/usecase/UpdateStudentTagsUseCaseTest.kt
Due: none

fix: (#1016) 트리거 작동시간 토요일 00시로 수정
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/config/QuartzConfig.kt
Due: none

fix: (#1016) cron 날짜 Saturday로 수정
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/config/QuartzConfig.kt
Due: none

test: (#1014) chatusecase test 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/chatbot/usecase/AskChatbotUseCaseTest.kt
Due: none

fix: (#1008) paths-filter 비교 기준을 main 브랜치로 지정
  .github/workflows/prod-cd.yml
Due: none

fix: (#1008) SSM 완료 대기를 폴링 방식으로 변경
  .github/workflows/prod-cd.yml
Due: none

fix: (#1008) 배포 후 컨테이너 헬스 게이트 추가
  .github/workflows/prod-cd.yml
  dms-gateway/Dockerfile
  dms-main/Dockerfile
  dms-notification/Dockerfile
Due: overall, main-service, notification-service, gateway-service, Main Service, Notification Service, Gateway Service

fix: (#1008) latest 태그를 배포 확정 시점에 승격하도록 변경
  .github/workflows/prod-cd.yml
Due: none

feat: (#1018) S3 파일 저장 경로에 prefix 옵션 추가
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/storage/AwsS3Adapter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/storage/AwsS3Properties.kt
  dms-main/main-infrastructure/src/main/resources/application.yml
Due: overall, main-service, Main Service

fix: (#1008) 주석 제거
  .github/workflows/prod-cd.yml
Due: none
