Repository team-aliens/DMS-Backend: changes, and which Codecov flags are due for each by the changed paths.
All: overall, main-service, notification-service, gateway-service, Main Service, Notification Service, Gateway Service

fix: (#1034) passport 인증 방식에서 jwt 인증 방식으로 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/auth/model/Passport.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/config/PropertiesScanConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/filter/FilterConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/filter/JwtAuthenticationFilter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/filter/PassportFilter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/passport/PassportIntegrityGenerator.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/passport/PassportProperties.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/passport/PassportSecurityProperties.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/passport/PassportValidator.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/token/JwtParser.kt
  dms-main/main-infrastructure/src/main/resources/application.yml
Due: overall, main-service, Main Service

test: (#1034) filter test 추가
  dms-main/main-infrastructure/src/test/kotlin/team/aliens/dms/global/filter/JwtAuthenticationFilterTest.kt
Due: none

test: (#1034) jwtParser test 추가
  dms-main/main-infrastructure/src/test/kotlin/team/aliens/dms/global/security/token/JwtParserTest.kt
Due: none

fix: (#1034) main에 CORS 설정 이관
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/config/CorsConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/config/PropertiesScanConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/CorsProperties.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
  dms-main/main-infrastructure/src/main/resources/application.yml
Due: overall, main-service, Main Service

chore: (#1034) dms-gateway 모듈 삭제
  dms-gateway/Dockerfile
  dms-gateway/build.gradle.kts
  dms-gateway/gateway-core/build.gradle.kts
  dms-gateway/gateway-core/config/detekt/detekt.yml
  dms-gateway/gateway-core/src/main/kotlin/team/aliens/dms/common/error/DmsException.kt
  dms-gateway/gateway-core/src/main/kotlin/team/aliens/dms/common/error/ErrorProperty.kt
  dms-gateway/gateway-core/src/main/kotlin/team/aliens/dms/common/error/ErrorStatus.kt
  dms-gateway/gateway-core/src/main/kotlin/team/aliens/dms/domain/auth/model/Authority.kt
  dms-gateway/gateway-core/src/main/kotlin/team/aliens/dms/domain/auth/model/Passport.kt
  dms-gateway/gateway-core/src/main/kotlin/team/aliens/dms/domain/auth/model/UserAuthInfo.kt
  dms-gateway/gateway-infrastructure/build.gradle.kts
  dms-gateway/gateway-infrastructure/config/detekt/detekt.yml
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/DmsGatewayApplication.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/config/JacksonConfig.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/config/PropertiesScanConfig.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/config/RouteConfig.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/config/properties/ServicesProperties.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/error/GatewayGlobalExceptionHandler.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/error/GlobalErrorCode.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/error/GlobalExceptions.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/filter/AuthorizationHeaderGatewayFilterFactory.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityPaths.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityProperties.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/security/exception/ExpiredTokenException.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/security/exception/InvalidTokenException.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/security/exception/error/SecurityErrorCode.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/security/passport/PassportAdapter.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/security/passport/PassportIntegrityGenerator.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/security/passport/PassportProperties.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/security/passport/PassportSecurityProperties.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/security/token/JwtParser.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/security/token/JwtProperties.kt
  dms-gateway/gateway-infrastructure/src/main/resources/application-dev.yml
  dms-gateway/gateway-infrastructure/src/main/resources/application-local.yml
  dms-gateway/gateway-infrastructure/src/main/resources/application-prod.yml
  dms-gateway/gateway-infrastructure/src/main/resources/application.yml
  dms-gateway/gateway-infrastructure/src/test/kotlin/team/aliens/GatewayApplicationTests.kt
  settings.gradle.kts
Due: overall, gateway-service, Gateway Service

chore: (#1034) CI/jacoco 설정에서 gateway 항목 정리
  .github/workflows/CI.yml
  build.gradle.kts
  codecov.yml
Due: none

fix: (#1034) JwtAuthenticationFilter가 permitAll 경로 판단 시 HTTP 메서드를 무시하는 문제 수정
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/filter/JwtAuthenticationFilter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityPaths.kt
  dms-main/main-infrastructure/src/test/kotlin/team/aliens/dms/global/filter/JwtAuthenticationFilterTest.kt
Due: overall, main-service, Main Service

fix: (#1034) AUTHORITY 클레임이 없는 JWT를 500 대신 401로 처리하도록 수정
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/token/JwtParser.kt
  dms-main/main-infrastructure/src/test/kotlin/team/aliens/dms/global/security/token/JwtParserTest.kt
Due: overall, main-service, Main Service

fix: (#1034) codecov after_n_builds를 실제 업로드 수에 맞춤
  codecov.yml
Due: none

fix: (#1041) prod-cd파일 수정
  .github/workflows/prod-cd.yml
Due: none

fix: (#1041) prod-cd에 concurrency 추가로 동시 배포 직렬화
  .github/workflows/prod-cd.yml
Due: none

fix: (#1041) 배포 스텝의 시크릿을 env로 전달
  .github/workflows/prod-cd.yml
Due: none

fix: (#1041) ssh-keyscan 제거하고 호스트 키 고정으로 검증
  .github/workflows/prod-cd.yml
Due: none

fix: (#1041) 배포 헬스체크에 컨테이너 부재·종료 처리 추가
  .github/workflows/prod-cd.yml
Due: none

fix: (#1043) 배포 SSH 사용자를 ubuntu로 고정하고 EC2_USER 시크릿 제거
  .github/workflows/prod-cd.yml
Due: none

fix: (#1045) permitAll 경로를 SecurityConfig로 일원화
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/filter/JwtAuthenticationFilter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/CustomAuthenticationEntryPoint.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityPaths.kt
Due: overall, main-service, Main Service

test: (#1045) Authorization 헤더 부재 시 다음 필터로 넘기는지 검증하도록 수정
  dms-main/main-infrastructure/src/test/kotlin/team/aliens/dms/global/filter/JwtAuthenticationFilterTest.kt
Due: none

fix: (#1047) 학생의 최근 상벌점 이력 조회 쿼리 수정
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/point/PointHistoryPersistenceAdapter.kt
Due: overall, main-service, Main Service

fix: (#1047) 상벌점 이력 조회에 학교 범위 조건 추가
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/point/PointHistoryPersistenceAdapter.kt
Due: overall, main-service, Main Service

fix: (#1049) 학생별 상벌점 총점 조회에서 상관 서브쿼리 제거
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/point/service/GetPointService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/point/service/GetPointServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/point/spi/QueryPointHistoryPort.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/point/stub/GetPointServiceStub.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/point/PointHistoryPersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/point/repository/vo/QueryStudentTotalVO.kt
Due: overall, main-service, Main Service

refactor: (#1049) 상벌점 필터 판정을 PointFilter로 이동
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/manager/dto/PointFilter.kt
Due: none

fix: (#1049) 학생 목록 조회와 상벌점 총점 조회를 분리
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/point/usecase/ExportPointHistoryUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/student/service/GetStudentService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/student/service/GetStudentServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/student/spi/QueryStudentPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/student/usecase/ManagerGetAllStudentsUseCase.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/student/StudentPersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/student/repository/vo/QueryStudentsWithTagVO.kt
Due: overall, main-service, Main Service

refactor: (#1049) 상벌점 총점 조회의 학교 범위를 호출부에서 명시하도록 변경
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/point/service/GetPointService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/point/spi/QueryPointHistoryPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/tag/usecase/UpdateStudentTagsUseCase.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/tag/usecase/UpdateStudentTagsUseCaseTest.kt
Due: overall, main-service, Main Service

test: (#1049) 관리자 학생 목록 조회의 상벌점 조합·필터 검증 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/student/stub/StudentWithTagStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/student/usecase/ManagerGetAllStudentsUseCaseTest.kt
Due: none

fix: (#1051) flyway V27 추가
  dms-main/main-infrastructure/src/main/resources/db/migration/V27__change_column_in_tbl_topic_subscription.sql
Due: overall, main-service, Main Service

ACL 기능 삭제
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/storage/AwsS3Adapter.kt
Due: overall, main-service, Main Service

refactor: (#1056) notification stub 위치 수정
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/notification/service/impl/CommandNotificationServiceImplTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/notification/service/impl/GetNotificationServiceImplTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/notification/stub/DeviceTokenStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/notification/stub/NotificationOfUserStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/notification/stub/NotificationStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/notification/stub/TopicSubscriptionStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/notification/usecase/QueryTopicSubscriptionUseCaseTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/notification/usecase/SetDeviceTokenUseCaseTest.kt
Due: none

fix: (#1056) 로그인 시 디바이스 토큰 삭제로 로직 삭제
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/auth/usecase/SignInUseCase.kt
Due: overall, main-service, Main Service

test: (#1056) SignInUseCaseTest 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/auth/usecase/SignInUseCaseTest.kt
Due: none

fix: (#1056) 디바이스 토큰 조회 실패 응답을 404로 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notification/exception/NotificationErrorCode.kt
Due: none

test: (#1056) test 값 payload 및 device token값이 null일 때 테스트 케이스 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/auth/usecase/SignInUseCaseTest.kt
Due: none

fix: (#1060) 새벽자습 승인 또는 거절 알림이 저장되지 않도록 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/CommandDaybreakServiceImpl.kt
Due: overall, main-service, Main Service

test: (#1060) 알림 저장이 되지 않는 테스트 케이스 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/notification/service/NotificationServiceImplTest.kt
Due: none

chore: (#1062) 동작하지 않는 codecov 설정 제거
  codecov.yml
Due: none

chore: (#1062) build 워크플로우 중복 detekt 스텝 제거
  .github/workflows/build.yml
Due: none

chore: (#1062) main push 시 build, CI 워크플로우 중복 실행 제거
  .github/workflows/CI.yml
Due: none

fix: (#1062) prod-cd 테스트 게이트가 테스트를 실행하지 않는 문제 수정
  .github/workflows/prod-cd.yml
Due: none

chore: (#1062) 커버리지 최소 기준을 실제 수치에 맞게 조정
  .github/workflows/CI.yml
Due: none

feat: (#1064) 1차 승인으로 상태 변이 시 FCM 알림 발송
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyApplication.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/CommandDaybreakServiceImpl.kt
Due: overall, main-service, Main Service

feat: (#1058) 새벽자습 신청 이력 조회 기능 개발
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyApplicationPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryStudentDaybreakStudyApplicationHistoryUseCase.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/DaybreakWebAdapter.kt
Due: overall, main-service, Main Service

Path conditions:
  overall: any of: dms-main/, dms-notification/, dms-gateway/, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  main-service: any of: dms-main/, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  notification-service: any of: dms-notification/, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  gateway-service: any of: dms-gateway/, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  Main Service: any of: dms-main/**, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  Notification Service: any of: dms-notification/**, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  Gateway Service: any of: dms-gateway/**, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
