Repository team-aliens/DMS-Backend: changes, and which Codecov flags are due for each by the changed paths.
All: overall, main-service, notification-service, gateway-service, Main Service, Notification Service, Gateway Service

codecov.yml:

codecov:
  require_ci_to_pass: yes

# PR에 댓글 설정
comment:
  layout: "header,diff,flags,components,files,footer"
  behavior: default
  require_changes: false
  after_n_builds: 4  # overall + main + notification + gateway

# 서비스별 플래그 설정
flag_management:
  default_rules:
    carryforward: true
    
flags:
  overall:
    paths:
      - dms-main/
      - dms-notification/
      - dms-gateway/
    carryforward: false
    
  main-service:
    paths:
      - dms-main/
    carryforward: true
    
  notification-service:
    paths:
      - dms-notification/
    carryforward: true
    
  gateway-service:
    paths:
      - dms-gateway/
    carryforward: true

# 서비스별 컴포넌트 설정
component_management:
  default_rules:
    statuses:
      - type: project
        target: 70%
        
  individual_components:
    - component_id: main-service
      name: Main Service
      paths:
        - dms-main/**
      
    - component_id: notification-service
      name: Notification Service
      paths:
        - dms-notification/**
      
    - component_id: gateway-service
      name: Gateway Service
      paths:
        - dms-gateway/**

coverage:
  precision: 2
  round: down
  range: "60...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 2%
        base: auto
        
    patch:
      default:
        target: 80%
        threshold: 5%
        
    changes:
      default:
        target: 70%

# 커버리지에서 제외할 파일
ignore:
  - "**/test/**"
  - "**/stub/**"
  - "**/*Test.kt"
  - "**/*Tests.kt"
  - "**/config/**"
  - "**/exception/**"
  - "**/dto/**"
  - "**/entity/**"
  - "**/*Application.kt"
  - "**/contracts/**"
  - "**/*Request.kt"
  - "**/*Response.kt"
  - "**/*Properties.kt"

feat: (#982) AOP 기반 이용 가능한 기능 확인에 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/common/aop/AvailableFeatureAspect.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/school/usecase/QueryAvailableFeaturesUseCase.kt
  dms-main/main-infrastructure/src/main/resources/db/migration/V19__create_tbl_daybreak_study_type_and_tbl_daybreak_study_application.sql
Due: overall, main-service, Main Service

test: (#982) daybreak 테스트 코드 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyApplicationTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/stub/DaybreakStudyApplicationStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/school/stub/SchoolStub.kt
Due: none

style: (#982) application -> applications(복수형)으로 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/ChangeStatusDaybreakStudyApplicationUseCase.kt
Due: overall, main-service, Main Service

feat: (#982) 새벽 자습 유형 추가하기 기능 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/dto/request/CreateDaybreakStudyTypeRequest.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/exception/DaybreakStudyTypeAlreadyExistsException.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/exception/error/DaybreakErrorCode.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyType.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/CheckDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/CheckDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/CommandDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyTypePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/ApplyDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/CreateDaybreakStudyTypeUseCase.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyTypePersistenceAdapter.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/DaybreakWebAdapter.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/dto/request/ApplyDaybreakStudyApplicationWebRequest.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/dto/request/ChangeDaybreakStudyApplicationStatusWebRequest.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/dto/request/CreateDaybreakStudyTypeWebRequest.kt
Due: overall, main-service, Main Service

style: (#982) 불필요한 코드 삭제 및 엔터 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/common/aop/AvailableFeatureAspect.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/dto/response/DaybreakResponse.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/exception/DaybreakStudyApplicationNotFoundException.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/exception/DaybreakStudyTypeAlreadyExistsException.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyApplication.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyType.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/Status.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/CommandDaybreakStudyApplicationPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/ChangeStatusDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/CreateDaybreakStudyTypeUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryDaybreakStudyTypesUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryGeneralTeacherDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryHeadTeacherDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryManagerDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyApplicationTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/stub/DaybreakStudyApplicationStub.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/principle/HeadTeacherDetails.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyTypePersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/entity/DaybreakStudyTypeJpaEntity.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/entity/TeacherJpaEntity.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/DaybreakWebAdapter.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/dto/request/ApplyDaybreakStudyApplicationWebRequest.kt
Due: overall, main-service, Main Service

feat: (#982) 새벽 자습 조회 시(담당선생님) 자신에게 온 요청만 조회
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyApplicationPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryGeneralTeacherDaybreakStudyApplicationUseCase.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

style: (#982) applicationIds -> applicationIdList로 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/dto/request/ChangeDaybreakStudyApplicationStatusRequest.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/ChangeStatusDaybreakStudyApplicationUseCase.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/DaybreakWebAdapter.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/dto/request/ChangeDaybreakStudyApplicationStatusWebRequest.kt
Due: overall, main-service, Main Service

feat: (#982) 부장선생님이 새벽자습 조회 시 자신의 담당 학년만 조회
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/exception/DaybreakException.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/exception/DaybreakStudyApplicationAlreadyExistsException.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/exception/DaybreakStudyApplicationNotFoundException.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/exception/DaybreakStudyTypeAlreadyExistsException.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/exception/DaybreakStudyTypeNotFoundException.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyApplicationPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryGeneralTeacherDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryHeadTeacherDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/exception/TeacherExceptions.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/exception/error/TeacherErrorCode.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/model/Teacher.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/service/GetTeacherService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/service/GetTeacherServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/service/TeacherService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/spi/QueryTeacherPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/spi/TeacherPort.kt
  dms-main/main-infrastructure/src/main/resources/db/migration/V18__create_tbl_teacher.sql
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/TeacherPersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/entity/TeacherJpaEntity.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/mapper/TeacherMapper.kt
Due: overall, main-service, Main Service

test: (#982) usecase 테스트 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/ApplyDaybreakStudyApplicationUseCaseTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/ChangeStatusDaybreakStudyApplicationUseCaseTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/CreateDaybreakStudyTypeUseCaseTest.kt
Due: none

fix: (#982) clearAllMocks() 스코프 범위 수정
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/ApplyDaybreakStudyApplicationUseCaseTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/ChangeStatusDaybreakStudyApplicationUseCaseTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/CreateDaybreakStudyTypeUseCaseTest.kt
Due: none

fix: (#982) 새벽 자습 신청 리스트 조회 시 예외 처리 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakServiceImpl.kt
Due: overall, main-service, Main Service

test: (#982) query usecase 테스트 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryDaybreakStudyTypesUseCaseTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryGeneralTeacherDaybreakStudyApplicationUseCaseTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryHeadTeacherDaybreakStudyApplicationUseCaseTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryManagerDaybreakStudyApplicationUseCaseTest.kt
Due: none

fix: (#982) 새벽 자습 신청 조회 VO 통합
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/dto/response/DaybreakResponse.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyApplicationPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/vo/DaybreakStudyApplicationVO.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/vo/ManagerDaybreakStudyApplicationVO.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/vo/TeacherDaybreakStudyApplicationVO.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryGeneralTeacherDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryHeadTeacherDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryManagerDaybreakStudyApplicationUseCase.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/repository/vo/QueryDaybreakStudyApplicationVO.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/repository/vo/QueryGeneralTeacherDaybreakStudyApplicationVO.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/repository/vo/QueryHeadTeacherDaybreakStudyApplicationVO.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/DaybreakWebAdapter.kt
Due: overall, main-service, Main Service

feat: (#982) SecurityConfig에 사감선생님 새벽자습 신청 조회 경로 추가
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
Due: overall, main-service, Main Service

style: (#982) 엔터 및 공백 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryDaybreakStudyTypesUseCaseTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryGeneralTeacherDaybreakStudyApplicationUseCaseTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryHeadTeacherDaybreakStudyApplicationUseCaseTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryManagerDaybreakStudyApplicationUseCaseTest.kt
Due: none

refactor: (#982) service 레이어로 분리
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyApplicationPort.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

fix: (#982) 거절된 상태에서 재신청이 가능하도록 변경
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

fix: (#982) 테스트용 print()문 삭제
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

fix: (#984) Teacher 도메인에 grade를 nullable로 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryHeadTeacherDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/model/Teacher.kt
Due: overall, main-service, Main Service

feat: (#984) 담당선생님 조회 기능 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/dto/response/TeacherReponse.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/service/GetTeacherService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/service/GetTeacherServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/spi/QueryTeacherPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/spi/vo/TeacherVO.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/usecase/QueryGeneralTeacherUseCase.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/TeacherPersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/repository/vo/QueryTeacherVO.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/teacher/TeacherWebAdapter.kt
Due: overall, main-service, Main Service

feat: (#984) SecurityConfig에 담당선생님 조회 경로 추가
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
Due: overall, main-service, Main Service

test: (#984) 담당선생님 조회 테스트 코드 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/teahcer/stub/TeacherStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/teahcer/usecase/QueryGeneralTeacherUseCaseTest.kt
Due: none

fix: (#984) TeacherEntity에 grade 컬럼을 nullable로 수정
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/entity/TeacherJpaEntity.kt
Due: none

style: (#984) 엔터 및 공백 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/teahcer/stub/TeacherStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/teahcer/usecase/QueryGeneralTeacherUseCaseTest.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/teacher/TeacherWebAdapter.kt
Due: overall, main-service, Main Service

style: (#984) / 추가
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
Due: overall, main-service, Main Service

fix: (#984) 컨트롤러 경로 수정
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/teacher/TeacherWebAdapter.kt
Due: overall, main-service, Main Service

fix: (#984) 패키지 오타 수정
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/teacher/stub/TeacherStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/teacher/usecase/QueryGeneralTeacherUseCaseTest.kt
Due: none

fix: (#984) SecurityConfig 경로 수정
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
Due: overall, main-service, Main Service

fix: (#987) UseCase -> ReadOnlyUseCase 어노테이션으로 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryDaybreakStudyTypesUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryGeneralTeacherDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryHeadTeacherDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryManagerDaybreakStudyApplicationUseCase.kt
Due: overall, main-service, Main Service

feat: (987) 새벽 자습 신청 상태 조회 기능 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/dto/response/DaybreakResponse.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyApplicationPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/vo/DaybreakStudyApplicationStatusVO.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryDaybreakStudyApplicationStatusUseCase.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/repository/vo/QueryDaybreakStudyApplicationStatusVO.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/DaybreakWebAdapter.kt
Due: overall, main-service, Main Service

test: (#987) 테스트 코드 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryDaybreakStudyApplicationStatusUseCaseTest.kt
Due: none

style: (#987) 불필요한 import문 삭제 및 엔터 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryDaybreakStudyApplicationStatusUseCase.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryDaybreakStudyApplicationStatusUseCaseTest.kt
Due: overall, main-service, Main Service

fix: (#987) rebase로 인한 파일 수정
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
Due: overall, main-service, Main Service

feat: (#985) 새벽 자습 신청 푸시 알림 기능 추가
  contracts/enum-contracts/notification-enum/src/main/kotlin/team/aliens/dms/contract/model/notification/Topic.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyApplication.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/CommandDaybreakServiceImpl.kt
Due: overall, main-service, Main Service

feat: (#985) flyway V5 파일 생성
  dms-notification/notification-infrastructure/src/main/resources/db/migration/V5__change_column_in_tbl_notification_of_user.sql
Due: overall, notification-service, Notification Service

fix: (#988) managerId 하드코딩 제거
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/usecase/CreateNoticeUseCase.kt
Due: overall, main-service, Main Service

test: (#988) 공지 생성 usecase 테스트 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/notice/usecase/CreateNoticeUseCaseTest.kt
Due: none

feat: (#992) 만료된 신청을 찾는 메서드 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyApplicationPort.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

feat: (#992) daybreak 스케쥴러 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/ExpireDaybreakStudyApplicationUseCase.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/config/QuartzConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/DaybreakStudyApplicationJob.kt
Due: overall, main-service, Main Service

feat: (#985) cors 허용 도메인 추가
  dms-gateway/gateway-infrastructure/src/main/resources/application.yml
Due: overall, gateway-service, Gateway Service
