Repository team-aliens/DMS-Backend: changes, and which Codecov flags are due for each by the changed paths.
All: overall, main-service, notification-service, gateway-service, Main Service, Notification Service, Gateway Service

codecov.yml:

codecov:
  require_ci_to_pass: yes

# PR에 댓글 설정
comment:
  layout: "header,diff,flags,components,files,footer"
  behavior: default
  require_changes: false
  after_n_builds: 4  # overall + main + notification + gateway

# 서비스별 플래그 설정
flag_management:
  default_rules:
    carryforward: true
    
flags:
  overall:
    paths:
      - dms-main/
      - dms-notification/
      - dms-gateway/
    carryforward: false
    
  main-service:
    paths:
      - dms-main/
    carryforward: true
    
  notification-service:
    paths:
      - dms-notification/
    carryforward: true
    
  gateway-service:
    paths:
      - dms-gateway/
    carryforward: true

# 서비스별 컴포넌트 설정
component_management:
  default_rules:
    statuses:
      - type: project
        target: 70%
        
  individual_components:
    - component_id: main-service
      name: Main Service
      paths:
        - dms-main/**
      
    - component_id: notification-service
      name: Notification Service
      paths:
        - dms-notification/**
      
    - component_id: gateway-service
      name: Gateway Service
      paths:
        - dms-gateway/**

coverage:
  precision: 2
  round: down
  range: "60...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 2%
        base: auto
        
    patch:
      default:
        target: 80%
        threshold: 5%
        
    changes:
      default:
        target: 70%

# 커버리지에서 제외할 파일
ignore:
  - "**/test/**"
  - "**/stub/**"
  - "**/*Test.kt"
  - "**/*Tests.kt"
  - "**/config/**"
  - "**/exception/**"
  - "**/dto/**"
  - "**/entity/**"
  - "**/*Application.kt"
  - "**/contracts/**"
  - "**/*Request.kt"
  - "**/*Response.kt"
  - "**/*Properties.kt"

fix: (#1008) archived gradle-build-action 교체 및 액션 SHA 핀닝
  .github/workflows/prod-cd.yml
Due: none

fix: (#1008) checkout persist-credentials 비활성화 및 latest 승격 시점 변경
  .github/workflows/prod-cd.yml
Due: none

fix: (#1020) 파일 업로드 임시저장 경로를 시스템 임시 디렉터리로 변경
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/common/extension/FileExtension.kt
Due: overall, main-service, Main Service

Revert "fix: (#1020) 파일 업로드 임시저장 경로를 시스템 임시 디렉터리로 변경"
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/common/extension/FileExtension.kt
Due: overall, main-service, Main Service

fix: (#1022) 존재하지 않는 ECR 레포 대신 dsm-dms 레포 공유하도록 CD 수정
  .github/workflows/prod-cd.yml
Due: none

fix: (#1024) 빈 deviceToken으로 인한 notification-prod OOMKilled 방지
  dms-notification/notification-core/src/main/kotlin/team/aliens/dms/domain/notification/service/NotificationServiceImpl.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/service/NotificationServiceImplTest.kt
  dms-notification/notification-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/messagebroker/NotificationConsumer.kt
Due: overall, notification-service, Notification Service

fix: (#1026) Dockerfile에서 gradle 빌드 실패가 || true에 삼켜지던 문제 수정
  dms-gateway/Dockerfile
  dms-main/Dockerfile
  dms-notification/Dockerfile
Due: overall, main-service, notification-service, gateway-service, Main Service, Notification Service, Gateway Service

fix: CD 배포 경로를 DMS-Infra의 실제 compose 위치로 수정
  .github/workflows/prod-cd.yml
Due: none

Revert "fix: CD 배포 경로를 DMS-Infra의 실제 compose 위치로 수정"
  .github/workflows/prod-cd.yml
Due: none

fix: (#1028) CD 배포 경로를 DMS-Infra의 실제 compose 위치로 수정
  .github/workflows/prod-cd.yml
Due: none

chore: (#1030) scheduler 삭제
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/config/QuartzConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/StudyRoomJob.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/VolunteerScoreJob.kt
Due: overall, main-service, Main Service

chore: (#1030) slack 삭제
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/filter/ExceptionFilter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/filter/FilterConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/slack/SlackAdapter.kt
Due: overall, main-service, Main Service

chore: (#1030) slack 환경 변수 삭제
  dms-main/main-infrastructure/src/main/resources/application.yml
Due: overall, main-service, Main Service

chore: (#1030) 삭제된 도메인 엑셀 출력 삭제
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/file/service/WriteFileService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/file/service/WriteFileServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/file/spi/WriteFilePort.kt
  dms-main/main-infrastructure/src/test/kotlin/team/aliens/dms/thirdparty/parser/ExcelAdapterTests.kt
Due: overall, main-service, Main Service

test: (#1030) outing test코드 삭제
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/outing/model/OutingApplicationTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/outing/model/OutingAvailableTimeTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/outing/stub/OutingStub.kt
Due: none

test: (#1030) studyroom test코드 삭제
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/studyroom/model/AvailableTimeTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/studyroom/model/SeatAvailabilityTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/studyroom/model/SeatTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/studyroom/model/StudyRoomAvailabilityTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/studyroom/model/StudyRoomTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/studyroom/model/TimeSlotTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/studyroom/stub/StudyRoomStub.kt
Due: none

test: (#1030) volunteer test코드 삭제
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/VolunteerTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/model/VolunteerApplicationStatusTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/model/VolunteerApplicationTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/model/VolunteerTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/CheckVolunteerServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/CommandVolunteerServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/GetVolunteerServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/VolunteerStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/usecase/ConvertVolunteerScoreToPointUseCaseTest.kt
Due: none

fix: (#1030) 삭제된 도메인과 연관있는 코드 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/student/service/GetStudentService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/student/service/GetStudentServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/student/usecase/RemoveStudentUseCase.kt
Due: overall, main-service, Main Service

fix: (#1030) available feature 컬럼 3개 삭제
  contracts/enum-contracts/notification-enum/src/main/kotlin/team/aliens/dms/contract/model/notification/Topic.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/common/aop/AvailableFeatureAspect.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/auth/dto/TokenFeatureResponse.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/school/dto/SchoolResponse.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/school/model/AvailableFeature.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/school/usecase/QueryAvailableFeaturesUseCase.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/school/stub/SchoolStub.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/parser/ExcelAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/school/entity/AvailableFeatureJpaEntity.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/school/mapper/AvailableFeatureMapper.kt
Due: overall, main-service, Main Service

feat: (#1030) flyway 추가
  dms-main/main-infrastructure/src/main/resources/db/migration/V20__drop_outing_studyroom_volunteer_columns_in_tbl_available_feature.sql
  dms-main/main-infrastructure/src/main/resources/db/migration/V21__drop_tbl_outing_studyroom_volunteer_tables.sql
Due: overall, main-service, Main Service

fix: (#1030) 버그 제보 시 슬랙 알림 대신 저장만 하도록 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/bug/service/BugService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/bug/service/SendBugService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/bug/service/SendBugServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/bug/spi/SendBugPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/bug/usecase/CreateBugReportUseCase.kt
Due: overall, main-service, Main Service

chore: (#1030) 공백 정리
  dms-main/main-infrastructure/src/main/resources/application.yml
  dms-main/main-infrastructure/src/test/kotlin/team/aliens/dms/thirdparty/parser/ExcelAdapterTests.kt
Due: overall, main-service, Main Service

fix: (#1032) SecurityConfig 수정
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
Due: overall, main-service, Main Service

fix: (#1032) 알림 스케쥴러 수정
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/config/QuartzConfig.kt
Due: none

fix: (#1032) fcm 설정 yml파일에 추가
  dms-main/main-infrastructure/src/main/resources/application.yml
Due: overall, main-service, Main Service

feat: (#1032) flyway 코드 추가
  dms-main/main-infrastructure/src/main/resources/db/migration/V22__add_and_migrate_point_detail_topic.sql
  dms-main/main-infrastructure/src/main/resources/db/migration/V23__rename_point_detail_topic_plus_to_bonus.sql
  dms-main/main-infrastructure/src/main/resources/db/migration/V24__add_unique_user_id_to_tbl_device_token.sql
  dms-main/main-infrastructure/src/main/resources/db/migration/V25__change_column_in_tbl_notification_of_user.sql
Due: overall, main-service, Main Service

feat: (#1032) 알림 발송을 Outbox 대신 AFTER_COMMIT + Async로 전환
  dms-main/main-core/src/main/kotlin/team/aliens/dms/common/dto/OutboxData.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/common/dto/OutboxStatus.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/common/spi/OutboxPort.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/event/handler/DeviceTokenEventHandler.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/event/handler/NotificationEventHandler.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/config/AsyncConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/config/QuartzConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/OutboxJob.kt
  dms-main/main-infrastructure/src/main/resources/db/migration/V26__drop_tbl_outbox.sql
  dms-main/main-infrastructure/src/test/kotlin/team/aliens/dms/event/handler/DeviceTokenEventHandlerTest.kt
  dms-main/main-infrastructure/src/test/kotlin/team/aliens/dms/event/handler/NotificationEventHandlerTest.kt
  dms-main/main-infrastructure/src/test/kotlin/team/aliens/dms/scheduler/OutboxIntegrationTest.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/outbox/OutboxPersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/outbox/entity/OutboxJpaEntity.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/outbox/mapper/OutboxMapper.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/outbox/repository/OutboxJpaRepository.kt
Due: overall, main-service, Main Service

chore: (#1032) 더 이상 쓰지 않는 RabbitMQ 인프라 제거
  contracts/remote-contracts/notification-remote/rabbitmq-message/build.gradle.kts
  contracts/remote-contracts/notification-remote/rabbitmq-message/config/detekt/detekt.yml
  contracts/remote-contracts/notification-remote/rabbitmq-message/src/main/kotlin/team/aliens/dms/contract/remote/rabbitmq/DeviceTokenMessages.kt
  contracts/remote-contracts/notification-remote/rabbitmq-message/src/main/kotlin/team/aliens/dms/contract/remote/rabbitmq/NotificationMessages.kt
  dms-main/main-infrastructure/build.gradle.kts
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/messagebroker/DeviceTokenConsumer.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/messagebroker/NotificationConsumer.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/messagebroker/NotificationProducer.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/messagebroker/config/RabbitMqConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/messagebroker/exception/MessageBrokerErrorCode.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/messagebroker/exception/MessageBrokerExceptions.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/messagebroker/properties/RabbitMqProperties.kt
  dms-main/main-infrastructure/src/main/resources/application.yml
  dms-main/main-infrastructure/src/test/kotlin/team/aliens/dms/config/RabbitMQTestSupport.kt
  settings.gradle.kts
Due: overall, main-service, Main Service

fix: (#1032) notification server 라우팅 코드 삭제
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/config/RouteConfig.kt
  dms-gateway/gateway-infrastructure/src/main/kotlin/team/aliens/dms/global/config/properties/ServicesProperties.kt
Due: none

chore: (#1032) notification server url 삭제
  dms-gateway/gateway-infrastructure/src/main/resources/application.yml
Due: overall, gateway-service, Gateway Service

fix: (#1032) notification 테이블 생성 마이그레이션 누락 추가
  dms-main/main-infrastructure/src/main/resources/db/migration/V21_1__create_notification_tables.sql
Due: overall, main-service, Main Service

fix: (#1032) notification 서비스 제거로 CI/jacoco 설정에서 notification 제거
  .github/workflows/CI.yml
  build.gradle.kts
Due: none

fix: (#1032) divice -> device 오타 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notification/service/GetNotificationService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notification/service/GetNotificationServiceImpl.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/event/handler/NotificationEventHandler.kt
Due: overall, main-service, Main Service

test: (#1032) 테스트 divice -> device 오타 수정
  dms-main/main-infrastructure/src/test/kotlin/team/aliens/dms/event/handler/DeviceTokenEventHandlerTest.kt
  dms-main/main-infrastructure/src/test/kotlin/team/aliens/dms/event/handler/NotificationEventHandlerTest.kt
Due: none

test: (#1032) 테스트 코드 오타 수정
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/notification/service/GetNotificationServiceImplTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/notification/service/impl/GetNotificationServiceImplTest.kt
Due: none
