Repository team-aliens/DMS-Backend: changes, and which Codecov flags are due for each by the changed paths.
All: overall, main-service, notification-service, gateway-service, Main Service, Notification Service, Gateway Service

fix: (#985) ServiceImpl에서 port를 의존하도록 변경
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyApplication.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/CommandDaybreakServiceImpl.kt
Due: overall, main-service, Main Service

fix: (#985) mapNotNull을 사용하여 npe문제 방지
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/CommandDaybreakServiceImpl.kt
Due: overall, main-service, Main Service

test: (#992) 새벽 자습 신청 만료 useCase 테스트 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/ExpireDaybreakStudyApplicationUseCaseTest.kt
Due: none

feat: (#992) 만료된 신청을 찾는 메서드 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyApplicationPort.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

style: (#992) 공백 및 엔터 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/ExpireDaybreakStudyApplicationUseCase.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/DaybreakStudyApplicationJob.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

feat: (#992) daybreak 스케쥴러 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/ExpireDaybreakStudyApplicationUseCase.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/config/QuartzConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/DaybreakStudyApplicationJob.kt
Due: overall, main-service, Main Service

style: (#992) 불필요한 import문 삭제 및 공백 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/usecase/CreateNoticeUseCase.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/notice/usecase/CreateNoticeUseCaseTest.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/DaybreakStudyApplicationJob.kt
Due: overall, main-service, Main Service

refactor: (#944) 비즈니스 로직 처리 후, ack 하도록 변경
  dms-notification/notification-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/messagebroker/DeviceTokenConsumer.kt
  dms-notification/notification-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/messagebroker/NotificationConsumer.kt
  dms-notification/notification-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/messagebroker/config/RabbitMqConfig.kt
Due: overall, notification-service, Notification Service

refactor: (#973) 커맨드 테스트 검증 보강
  .gitignore
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/auth/service/impl/CommandAuthCodeServiceImplTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/usecase/ConvertVolunteerScoreToPointUseCaseTest.kt
Due: none

feat: (#996) CORS 허용 경로 추가
  dms-gateway/gateway-infrastructure/src/main/resources/application.yml
Due: overall, gateway-service, Gateway Service

fix: (#996) vercel CORS 경로 삭제
  dms-gateway/gateway-infrastructure/src/main/resources/application.yml
Due: overall, gateway-service, Gateway Service

feat: (#998) 새벽자습 엑셀 export 도메인 레이어 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/dto/response/DaybreakResponse.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/ExportManagerDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/file/service/WriteFileService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/file/service/WriteFileServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/file/spi/WriteFilePort.kt
Due: overall, main-service, Main Service

fix: (#998) 매니저 새벽자습 조회 이번 주 기준 날짜 필터 및 학번순 정렬 추가
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

feat: (#998) 새벽자습 엑셀 export 인프라 및 API 추가
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/parser/ExcelAdapter.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/DaybreakWebAdapter.kt
Due: overall, main-service, Main Service

test: (#998) ExportManagerDaybreakStudyApplicationUseCase 테스트 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/ExportManagerDaybreakStudyApplicationUseCaseTest.kt
Due: none

style: (#998) import 정리 및 코드 포맷 통일
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/usecase/CreateNoticeUseCase.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/auth/service/impl/CommandAuthCodeServiceImplTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/notice/usecase/CreateNoticeUseCaseTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/usecase/ConvertVolunteerScoreToPointUseCaseTest.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/parser/ExcelAdapter.kt
Due: overall, main-service, Main Service

feat: (#998) 새벽자습 신청 날짜 검증 로직 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/exception/DaybreakException.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/exception/error/DaybreakErrorCode.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyApplication.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/ApplyDaybreakStudyApplicationUseCase.kt
Due: overall, main-service, Main Service

test: (#998) 태스트 코드 수정
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/ApplyDaybreakStudyApplicationUseCaseTest.kt
Due: none

feat: (#998) 담당선생님 조회 시 이름순으로 정렬
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/TeacherPersistenceAdapter.kt
Due: overall, main-service, Main Service

fix: (#998) 담당선생님 새자 조회 시 PENDING만 조회되도록 설정
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

fix: (#992) UseCase어노테이션 대신 SchedulerUseCase 사용
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/ExpireDaybreakStudyApplicationUseCase.kt
Due: overall, main-service, Main Service

fix: (#992) SECOND_APPROVED인 신청만 만료되도록 수정
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

fix: (#998) 엑셀 추출을 하루 단위로 수정
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/parser/ExcelAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

fix: (#998) export 전용 새벽자습 조회 메서드 분리
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyApplicationPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/ExportManagerDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/ExportManagerDaybreakStudyApplicationUseCaseTest.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

fix: (#998) 새벽자습 신청 날짜 검증 로직 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyApplication.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyApplicationTest.kt
Due: none

fix: (#998) export 조회에 schoolId 필터 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyApplicationPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/ExportManagerDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/ExportManagerDaybreakStudyApplicationUseCaseTest.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

fix: (#998) manager 새벽자습 조회에 schoolId로 조회되도록 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyApplicationPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryManagerDaybreakStudyApplicationUseCase.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

test: (#998) 날짜 검증 로직 테스트 코드 수정
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/ApplyDaybreakStudyApplicationUseCaseTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryManagerDaybreakStudyApplicationUseCaseTest.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/parser/ExcelAdapter.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/DaybreakWebAdapter.kt
Due: overall, main-service, Main Service

fix: (#1000) 학생 조회 시 학번순 정렬 추가
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

fix: (#1000) 학생 조회 시 created_at 정렬 삭제
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

feat: (#1002) 코드 리뷰를 위한 coderabbit 도입
  .coderabbit.yml
Due: none

fix: (#992) 빈 리스트 전달 시 return
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/CommandDaybreakServiceImpl.kt
Due: overall, main-service, Main Service

test: (#992) 만료 대상 테스트 데이터를 SECOND_APPROVED 중심으로 수정
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/ExpireDaybreakStudyApplicationUseCaseTest.kt
Due: none

fix: (#1000) 날짜 조건을 start_date와 end_date사이로 조정
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

fix: (#1000) 일반/부장선생님 새벽자습 조회 날짜 필터 제거
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyApplicationPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryGeneralTeacherDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryHeadTeacherDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryGeneralTeacherDaybreakStudyApplicationUseCaseTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryHeadTeacherDaybreakStudyApplicationUseCaseTest.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/DaybreakWebAdapter.kt
Due: overall, main-service, Main Service

refactor: (#1000) 학번순 정렬 gcnOrder 함수로 추출
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

feat: (#992) 새벽자습 신청 주간 마감 스케줄러 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/CommandDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/CommandDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/CommandDaybreakStudyApplicationPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/CloseDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/daybreak/usecase/CloseDaybreakStudyApplicationUseCaseTest.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/config/QuartzConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/DaybreakStudyApplicationJob.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

fix: (#992) Status를 non-null로 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyApplicationPort.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

fix: (#1004) 디바이스 토큰 없을 때 예외 대신 early return으로 무한 재큐잉 방지
  dms-notification/notification-core/src/main/kotlin/team/aliens/dms/domain/notification/service/CommandNotificationServiceImpl.kt
Due: overall, notification-service, Notification Service

fix: (#1006) EXPIRED를 제외한 모든 상태 조회
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
Due: overall, main-service, Main Service

Path conditions:
  overall: any of: dms-main/, dms-notification/, dms-gateway/, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  main-service: any of: dms-main/, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  notification-service: any of: dms-notification/, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  gateway-service: any of: dms-gateway/, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  Main Service: any of: dms-main/**, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  Notification Service: any of: dms-notification/**, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  Gateway Service: any of: dms-gateway/**, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
