Repository team-aliens/DMS-Backend: changes, and which Codecov flags are due for each by the changed paths.
All: overall, main-service, notification-service, gateway-service, Main Service, Notification Service, Gateway Service

codecov.yml:

codecov:
  require_ci_to_pass: yes

# PR에 댓글 설정
comment:
  layout: "header,diff,flags,components,files,footer"
  behavior: default
  require_changes: false
  after_n_builds: 4  # overall + main + notification + gateway

# 서비스별 플래그 설정
flag_management:
  default_rules:
    carryforward: true
    
flags:
  overall:
    paths:
      - dms-main/
      - dms-notification/
      - dms-gateway/
    carryforward: false
    
  main-service:
    paths:
      - dms-main/
    carryforward: true
    
  notification-service:
    paths:
      - dms-notification/
    carryforward: true
    
  gateway-service:
    paths:
      - dms-gateway/
    carryforward: true

# 서비스별 컴포넌트 설정
component_management:
  default_rules:
    statuses:
      - type: project
        target: 70%
        
  individual_components:
    - component_id: main-service
      name: Main Service
      paths:
        - dms-main/**
      
    - component_id: notification-service
      name: Notification Service
      paths:
        - dms-notification/**
      
    - component_id: gateway-service
      name: Gateway Service
      paths:
        - dms-gateway/**

coverage:
  precision: 2
  round: down
  range: "60...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 2%
        base: auto
        
    patch:
      default:
        target: 80%
        threshold: 5%
        
    changes:
      default:
        target: 70%

# 커버리지에서 제외할 파일
ignore:
  - "**/test/**"
  - "**/stub/**"
  - "**/*Test.kt"
  - "**/*Tests.kt"
  - "**/config/**"
  - "**/exception/**"
  - "**/dto/**"
  - "**/entity/**"
  - "**/*Application.kt"
  - "**/contracts/**"
  - "**/*Request.kt"
  - "**/*Response.kt"
  - "**/*Properties.kt"

refactor: (#933) JaCoCo 리포트 HTML 제목을 각 마이크로서비스 이름으로 변경
  build.gradle.kts
Due: none

feat: (#933) CI 워크플로우에 서비스별 커버리지 리포트 PR 코멘트 기능 추가
  .github/workflows/CI.yml
Due: none

test: (#933) 도메인 모델 비즈니스 로직 테스트 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/auth/model/AuthCodeLimitTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/meal/model/MealTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/point/model/PointHistoryTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/school/model/SchoolTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/studyroom/model/SeatAvailabilityTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/studyroom/model/StudyRoomAvailabilityTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/model/VolunteerApplicationTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/model/VolunteerTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/vote/model/VotingTopicTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/vote/stub/VoteStub.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/model/NotificationOfUserTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/model/NotificationTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/stub/NotificationOfUserStub.kt
Due: none

test: (#933) Notification 도메인 모델 테스트 추가
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/model/NotificationTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/stub/NotificationStub.kt
Due: none

style: (#933) NotificationTest 코드 포맷 정리
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/model/NotificationTest.kt
Due: none

test: (#933) SeatAvailabilityTest 중복 테스트 케이스 제거
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/studyroom/model/SeatAvailabilityTest.kt
Due: none

refactor: (#933) 투표 주제 기간 검증 로직을 도메인 모델로 이동
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/vote/model/VotingTopic.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/vote/usecase/CreateVotingTopicUseCase.kt
Due: overall, main-service, Main Service

test: (#933) VotingTopic 도메인 모델 기간 검증 테스트 개선
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/vote/model/VotingTopicTest.kt
Due: none

test: (#933) TimeSlot 도메인 모델 테스트 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/studyroom/model/TimeSlotTest.kt
Due: none

test: (#933) Auth 도메인 서비스 및 유스케이스 테스트 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/auth/service/impl/CheckAuthCodeServiceImplTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/auth/service/impl/CommandAuthCodeServiceImplTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/auth/usecase/CheckAccountIdExistenceUseCaseTest.kt
Due: none

test: (#933) School 도메인 유스케이스 테스트 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/school/usecase/CheckSchoolAnswerUseCaseTest.kt
Due: none

test: (#933) VolunteerApplicationStatus 도메인 모델 테스트 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/model/VolunteerApplicationStatusTest.kt
Due: none

test: (#933) notification 도메인 테스트 stub 추가
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/stub/DeviceTokenStub.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/stub/TopicSubscriptionStub.kt
Due: none

test: (#933) TopicSubscription 도메인 모델 테스트 추가
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/model/TopicSubscriptionTest.kt
Due: none

test: (#933) Tag 도메인 모델 테스트 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/tag/model/WarningTagTest.kt
Due: none

test: (#933) notification DTO 테스트 추가
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/dto/NotificationResponseTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/dto/SetDeviceTokenRequestTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/dto/TopicSubscriptionResponseTest.kt
Due: none

test: (#933) notification 유스케이스 테스트 추가
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/usecase/DeleteOldNotificationsUseCaseTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/usecase/QueryAndReadMyNotificationsUseCaseTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/usecase/QueryTopicSubscriptionUseCaseTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/usecase/RemoveMyAllNotificationUseCaseTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/usecase/RemoveNotificationUseCaseTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/usecase/SetDeviceTokenUseCaseTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/usecase/SubscribeTopicUseCaseTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/usecase/ToggleSubscriptionUseCaseTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/usecase/UnsubscribeTopicUseCaseTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/usecase/UpdateTopicSubscriptionsUseCaseTest.kt
Due: none

test: (#933) notification security 서비스 테스트 추가
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/common/service/security/SecurityServiceImplTest.kt
Due: none

test: (#933) notification 도메인 모델 테스트 추가
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/model/DeviceTokenTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/model/NotificationModelTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/model/TopicSubscriptionModelTest.kt
Due: none

test: (#933) notification 서비스 테스트 추가
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/service/impl/CheckNotificationServiceImplTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/service/impl/CommandNotificationServiceImplTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/service/impl/GetNotificationServiceImplTest.kt
Due: none

test: (#933) notification 스케줄러 테스트 추가
  dms-notification/notification-infrastructure/src/test/kotlin/team/aliens/dms/scheduler/NotificationSchedulerTest.kt
Due: none

test: (#933) notification persistence 어댑터 테스트 추가
  dms-notification/notification-persistence/src/test/kotlin/team/aliens/dms/persistence/notification/DeviceTokenPersistenceAdapterTest.kt
  dms-notification/notification-persistence/src/test/kotlin/team/aliens/dms/persistence/notification/NotificationOfPersistenceAdapterOfUserTest.kt
  dms-notification/notification-persistence/src/test/kotlin/team/aliens/dms/persistence/notification/TopicSubscriptionPersistenceAdapterTest.kt
  dms-notification/notification-persistence/src/test/kotlin/team/aliens/dms/persistence/notification/mapper/DeviceTokenMapperTest.kt
  dms-notification/notification-persistence/src/test/kotlin/team/aliens/dms/persistence/notification/mapper/NotificationOfUserMapperTest.kt
Due: none

test: (#933) dms-notification core 계층 Notification 모델 및 Service 단위테스트 추가
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/model/NotificationTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/service/NotificationServiceImplTest.kt
Due: none

refactor: (#933) notificationOfUserPersistenceAdapter 네이밍 수정
  dms-notification/notification-persistence/src/main/kotlin/team/aliens/dms/persistence/notification/NotificationOfUserPersistenceAdapter.kt
Due: overall, notification-service, Notification Service

test: (#933) dms-notification core 계층 Service 단위테스트 추가 및 개선
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/model/NotificationOfUserTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/service/CheckNotificationServiceImplTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/service/CommandNotificationServiceImplTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/service/GetNotificationServiceImplTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/service/NotificationServiceImplTest.kt
Due: none

refactor: (#933)dms-notification infrastructure/persistence 계층 MockK 단위테스트 제거
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/dto/NotificationResponseTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/dto/SetDeviceTokenRequestTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/dto/TopicSubscriptionResponseTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/model/DeviceTokenTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/model/NotificationModelTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/model/NotificationTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/model/TopicSubscriptionModelTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/model/TopicSubscriptionTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/model/NotificationTest.kt
  dms-notification/notification-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/notification/FCMAdapter.kt
  dms-notification/notification-infrastructure/src/test/kotlin/team/aliens/dms/scheduler/NotificationSchedulerTest.kt
  dms-notification/notification-persistence/src/test/kotlin/team/aliens/dms/persistence/notification/DeviceTokenPersistenceAdapterTest.kt
  dms-notification/notification-persistence/src/test/kotlin/team/aliens/dms/persistence/notification/NotificationOfPersistenceAdapterOfUserTest.kt
  dms-notification/notification-persistence/src/test/kotlin/team/aliens/dms/persistence/notification/TopicSubscriptionPersistenceAdapterTest.kt
  dms-notification/notification-persistence/src/test/kotlin/team/aliens/dms/persistence/notification/mapper/DeviceTokenMapperTest.kt
  dms-notification/notification-persistence/src/test/kotlin/team/aliens/dms/persistence/notification/mapper/NotificationOfUserMapperTest.kt
Due: overall, notification-service, Notification Service

refactor: (#941) 봉사활동 score 최대, 최소 분리하도록 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/dto/request/CreateVolunteerRequest.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/dto/request/UpdateVolunteerRequest.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/dto/response/VolunteerResponse.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/model/Volunteer.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/spi/vo/VolunteerWithCurrentApplicantVO.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/usecase/CreateVolunteerUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/usecase/UpdateVolunteerUseCase.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/VolunteerStub.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/VolunteerPersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/entity/VolunteerJpaEntity.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/mapper/VolunteerMapper.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/repository/vo/QueryVolunteerWithCurrentApplicantVO.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/volunteer/VolunteerWebAdapter.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/volunteer/dto/request/CreateVolunteerWebRequest.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/volunteer/dto/request/UpdateVolunteerWebRequest.kt
Due: overall, main-service, Main Service

chore: (#941) 컬럼명 변경으로 인한 마이그레이션 파일 추가
  dms-main/main-infrastructure/src/main/resources/db/migration/V15__rename_score_columns.sql
Due: overall, main-service, Main Service

feat: (#941) VolunteerScore 모델 및 매퍼 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/model/VolunteerScore.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/entity/VolunteerScoreJpaEntity.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/mapper/VolunteerScoreMapper.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/repository/VolunteerScoreRepository.kt
Due: overall, main-service, Main Service

feat: (#941) min score가 max score보다 클 때 예외처리 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/exception/VolunteerErrorCode.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/exception/VolunteerExceptions.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/model/Volunteer.kt
Due: overall, main-service, Main Service

feat: (#941) 봉사 신청 승인 시에 tbl_volunteer_score에 추가되는 로직 구현
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/CommandVolunteerScoreService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/CommandVolunteerScoreServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/VolunteerScoreService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/spi/CommandVolunteerScorePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/spi/QueryVolunteerScorePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/spi/VolunteerScorePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/usecase/ApproveVolunteerApplicationUseCase.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/VolunteerScorePersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/repository/VolunteerScoreRepository.kt
Due: overall, main-service, Main Service

feat: (#941) 부여 상점 변경 api 구현
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/CommandVolunteerScoreService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/CommandVolunteerScoreServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/spi/CommandVolunteerScorePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/spi/QueryVolunteerScorePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/usecase/UpdateVolunteerScoreUseCase.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/VolunteerScorePersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/repository/VolunteerScoreRepository.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/volunteer/VolunteerWebAdapter.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/volunteer/dto/request/UpdateVolunteerScoreRequest.kt
Due: overall, main-service, Main Service

style: (#941) 코드 스타일 포맷팅
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/CommandVolunteerScoreServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/spi/VolunteerScorePort.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/VolunteerScorePersistenceAdapter.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/volunteer/VolunteerWebAdapter.kt
Due: overall, main-service, Main Service

refactor: (#943) 기존 모범학생 상점 부여 스케줄러 JDK TaskSchduler -> Quartz 로 변경
  buildSrc/src/main/kotlin/Dependencies.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/common/spi/OnetimeSchdulerNoticePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/dto/VoteResultNoticeRequest.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/CommandNoticeService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/CommandNoticeServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/NoticeService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/SchdulerNoticeService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/SchdulerNoticeServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/spi/SchdulerNoticePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/usecase/VoteResultNoticeUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/vote/usecase/CreateVotingTopicUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/vote/usecase/DeleteVotingTopicUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/vote/usecase/UpdateVotingTopicUseCase.kt
  dms-main/main-infrastructure/build.gradle.kts
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/QuartzSchedulerAdapter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/VoteResultNoticeJob.kt
  dms-main/main-infrastructure/src/main/resources/application.yml
Due: overall, main-service, Main Service

feat: (#944) 부여 상점 조회 api 구현
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/dto/response/VolunteerAssignScoreResponse.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/GetVolunteerScoreService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/GetVolunteerScoreServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/VolunteerScoreService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/spi/QueryVolunteerScorePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/usecase/QueryAssignScoreUseCase.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/VolunteerScorePersistenceAdapter.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/volunteer/VolunteerWebAdapter.kt
Due: overall, main-service, Main Service

style: (#944) 코드 스타일 포맷팅
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/GetVolunteerScoreServiceImpl.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/volunteer/VolunteerWebAdapter.kt
Due: overall, main-service, Main Service

feat: (#946) 마이그레이션 파일 추가
  dms-main/main-infrastructure/src/main/resources/db/migration/V16__create_tbl_volunteer_score.sql
Due: overall, main-service, Main Service

fix: FCMAdapter의 불필요한 닫는 중괄호 제거
  dms-notification/notification-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/notification/FCMAdapter.kt
Due: overall, notification-service, Notification Service

feat: (#943) 매달 봉사자 상점부여 스케줄러 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/common/spi/OnetimeSchdulerNoticePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/dto/VoteResultNoticeRequest.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/SchdulerNoticeService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/SchdulerNoticeServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/CommandVolunteerScoreService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/CommandVolunteerScoreServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/CommandVolunteerService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/CommandVolunteerServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/GetVolunteerService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/GetVolunteerServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/VolunteerScoreService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/spi/CommandVolunteerScorePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/spi/QueryVolunteerScorePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/spi/vo/VolunteerScoreWithStudentVO.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/usecase/ApproveVolunteerApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/usecase/ConvertVolunteerScoreToPointUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/usecase/UpdateVolunteerScoreUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/vote/usecase/DeleteVotingTopicUseCase.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/VolunteerScoreScheudler.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/QuartzSchedulerAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/VolunteerScorePersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/repository/vo/QueryVolunteerScoreWithStudentVO.kt
Due: overall, main-service, Main Service

test: (#943) ConvertVolunteerScoreToPintUseCase 단위 테스트 작성
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/point/stub/GetPointServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/CheckVolunteerServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/CommandPointServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/CommandVolunteerServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/GetVolunteerServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/usecase/ConvertVolunteerScoreToPointUseCaseTest.kt
Due: none
