Repository team-aliens/DMS-Backend: changes, and which Codecov flags are due for each by the changed paths.
All: overall, main-service, notification-service, gateway-service, Main Service, Notification Service, Gateway Service

codecov.yml:

codecov:
  require_ci_to_pass: yes

# PR에 댓글 설정
comment:
  layout: "header,diff,flags,components,files,footer"
  behavior: default
  require_changes: false
  after_n_builds: 4  # overall + main + notification + gateway

# 서비스별 플래그 설정
flag_management:
  default_rules:
    carryforward: true
    
flags:
  overall:
    paths:
      - dms-main/
      - dms-notification/
      - dms-gateway/
    carryforward: false
    
  main-service:
    paths:
      - dms-main/
    carryforward: true
    
  notification-service:
    paths:
      - dms-notification/
    carryforward: true
    
  gateway-service:
    paths:
      - dms-gateway/
    carryforward: true

# 서비스별 컴포넌트 설정
component_management:
  default_rules:
    statuses:
      - type: project
        target: 70%
        
  individual_components:
    - component_id: main-service
      name: Main Service
      paths:
        - dms-main/**
      
    - component_id: notification-service
      name: Notification Service
      paths:
        - dms-notification/**
      
    - component_id: gateway-service
      name: Gateway Service
      paths:
        - dms-gateway/**

coverage:
  precision: 2
  round: down
  range: "60...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 2%
        base: auto
        
    patch:
      default:
        target: 80%
        threshold: 5%
        
    changes:
      default:
        target: 70%

# 커버리지에서 제외할 파일
ignore:
  - "**/test/**"
  - "**/stub/**"
  - "**/*Test.kt"
  - "**/*Tests.kt"
  - "**/config/**"
  - "**/exception/**"
  - "**/dto/**"
  - "**/entity/**"
  - "**/*Application.kt"
  - "**/contracts/**"
  - "**/*Request.kt"
  - "**/*Response.kt"
  - "**/*Properties.kt"

refactor: (#943) 변수명 명확하게 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/usecase/ConvertVolunteerScoreToPointUseCase.kt
Due: overall, main-service, Main Service

refactor: (#943) 기존 모범학생 상점 부여 스케줄러 JDK TaskSchduler -> Quartz 로 변경
  buildSrc/src/main/kotlin/Dependencies.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/common/spi/OnetimeSchdulerNoticePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/dto/VoteResultNoticeRequest.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/CommandNoticeService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/CommandNoticeServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/NoticeService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/SchdulerNoticeService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/SchdulerNoticeServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/spi/SchdulerNoticePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/usecase/VoteResultNoticeUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/vote/usecase/CreateVotingTopicUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/vote/usecase/DeleteVotingTopicUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/vote/usecase/UpdateVotingTopicUseCase.kt
  dms-main/main-infrastructure/build.gradle.kts
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/QuartzSchedulerAdapter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/VoteResultNoticeJob.kt
  dms-main/main-infrastructure/src/main/resources/application.yml
Due: overall, main-service, Main Service

feat: (#943) 매달 봉사자 상점부여 스케줄러 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/common/spi/OnetimeSchdulerNoticePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/dto/VoteResultNoticeRequest.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/SchdulerNoticeService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/SchdulerNoticeServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/CommandVolunteerScoreService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/CommandVolunteerScoreServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/CommandVolunteerService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/CommandVolunteerServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/GetVolunteerService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/GetVolunteerServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/VolunteerScoreService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/spi/CommandVolunteerScorePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/spi/QueryVolunteerScorePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/spi/vo/VolunteerScoreWithStudentVO.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/usecase/ApproveVolunteerApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/usecase/ConvertVolunteerScoreToPointUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/usecase/UpdateVolunteerScoreUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/vote/usecase/DeleteVotingTopicUseCase.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/VolunteerScoreScheudler.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/QuartzSchedulerAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/VolunteerScorePersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/repository/vo/QueryVolunteerScoreWithStudentVO.kt
Due: overall, main-service, Main Service

fix: (#943) ConvertVolunteerScoreToPointUseCaseTest 누락된 import 추가
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/usecase/ConvertVolunteerScoreToPointUseCaseTest.kt
Due: none

refactor: (#943) CommandPointServiceStub을 올바른 패키지 위치로 이동
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/point/stub/CommandPointServiceStub.kt
Due: none

test: (#943) ConvertVolunteerScoreToPintUseCase 단위 테스트 작성
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/point/stub/GetPointServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/CheckVolunteerServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/CommandPointServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/CommandVolunteerServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/GetVolunteerServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/usecase/ConvertVolunteerScoreToPointUseCaseTest.kt
Due: none

refactor: (#943) detekt 자동 포매팅 적용
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/point/stub/GetPointServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/CheckVolunteerServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/CommandPointServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/CommandVolunteerServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/GetVolunteerServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/usecase/ConvertVolunteerScoreToPointUseCaseTest.kt
Due: none

fix: (#943) VolunteerScorePersistenceAdapter에서 user를 통한 school JOIN 추가
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/VolunteerScorePersistenceAdapter.kt
Due: overall, main-service, Main Service

fix: (#943) CommandVolunteerServiceStub 반환 타입을 명시적으로 Unit으로 수정
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/CommandVolunteerServiceStub.kt
Due: none

refactor: (#943) Quartz 스키마 초기화를 Flyway로 관리하도록 변경
  dms-main/main-infrastructure/src/main/resources/application.yml
Due: overall, main-service, Main Service

feat: (#943) Quartz Scheduler JDBC JobStore 테이블 Flyway 마이그레이션 추가
  dms-main/main-infrastructure/src/main/resources/db/migration/V16__create_quartz_tables.sql
Due: overall, main-service, Main Service

fix: (#943) 스케줄러되는 Job 에서 securityContextHodler 를 사용할 수 없는 문제 메게변수로 해결
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/dto/VoteResultNoticeRequest.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/CommandNoticeService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/CommandNoticeServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/SchdulerNoticeService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/SchdulerNoticeServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/spi/SchdulerNoticePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/usecase/VoteResultNoticeUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/GetVolunteerScoreService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/GetVolunteerScoreServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/GetVolunteerService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/GetVolunteerServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/VolunteerScoreService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/spi/QueryVolunteerScorePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/usecase/QueryAssignScoreUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/vote/usecase/CreateVotingTopicUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/vote/usecase/UpdateVotingTopicUseCase.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/VolunteerScoreScheudler.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/config/EnableSchedulingConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/QuartzSchedulerAdapter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/VoteResultNoticeJob.kt
  dms-main/main-infrastructure/src/main/resources/application.yml
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/volunteer/VolunteerScorePersistenceAdapter.kt
Due: overall, main-service, Main Service

feat: (#943) Quartz 테이블들 생성
  dms-main/main-infrastructure/src/main/resources/db/migration/V16__create_quartz_tables.sql
  dms-main/main-infrastructure/src/main/resources/db/migration/V17__create_quartz_tables.sql
Due: overall, main-service, Main Service

feat: (#948) point topic 세부 enum 나누기
  contracts/enum-contracts/notification-enum/src/main/kotlin/team/aliens/dms/contract/model/notification/PointDetailTopic.kt
  contracts/model-contracts/notification-model/src/main/kotlin/team/aliens/dms/contract/model/notification/NotificationInfo.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/point/model/PointHistory.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/point/service/CommandPointServiceImpl.kt
  dms-notification/notification-core/src/main/kotlin/team/aliens/dms/domain/notification/model/Notification.kt
  dms-notification/notification-core/src/main/kotlin/team/aliens/dms/domain/notification/model/NotificationOfUser.kt
  dms-notification/notification-infrastructure/src/main/resources/db/migration/V1__add_and_migrate_point_detail_topic.sql
  dms-notification/notification-persistence/src/main/kotlin/team/aliens/dms/persistence/notification/entity/NotificationOfUserJpaEntity.kt
  dms-notification/notification-persistence/src/main/kotlin/team/aliens/dms/persistence/notification/mapper/NotificationOfUserMapper.kt
Due: overall, main-service, notification-service, Main Service, Notification Service

refactor: (#943) VoteResultNoticeJob에서 JobDataMap 접근 방식 개선
  dms-main/main-core/src/main/kotlin/team/aliens/dms/common/spi/TaskSchedulerPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/CommandNoticeServiceImpl.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/MealScheduler.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/StudentTagScheduler.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/StudyRoomScheduler.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/VolunteerScoreScheudler.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/config/TaskSchedulerConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/QuartzSchedulerAdapter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/config/QuartzConfig.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/ExcludedStudentJob.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/MealJob.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/OutboxJob.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/StudentTagJob.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/StudyRoomJob.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/VolunteerScoreJob.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/VoteResultNoticeJob.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/taskscheduler/TaskSchedulerAdapter.kt
  dms-main/main-infrastructure/src/main/resources/db/migration/V17__create_quartz_tables.sql
  dms-notification/notification-infrastructure/build.gradle.kts
  dms-notification/notification-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/NotificationScheduler.kt
  dms-notification/notification-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/config/QuartzConfig.kt
  dms-notification/notification-infrastructure/src/main/kotlin/team/aliens/dms/scheduler/quartz/job/NotificationJob.kt
  dms-notification/notification-infrastructure/src/main/resources/application.yml
Due: overall, main-service, notification-service, Main Service, Notification Service

feat: (#948) 알림 조회시에 point_detail_topic도 함께 보내주도록 추가
  dms-notification/notification-core/src/main/kotlin/team/aliens/dms/domain/notification/dto/NotificationResponse.kt
Due: none

refactor: 알림 조회와 읽기 작업을 별도 API로 분리
  dms-notification/notification-core/src/main/kotlin/team/aliens/dms/domain/notification/service/GetNotificationService.kt
  dms-notification/notification-core/src/main/kotlin/team/aliens/dms/domain/notification/service/GetNotificationServiceImpl.kt
  dms-notification/notification-core/src/main/kotlin/team/aliens/dms/domain/notification/usecase/QueryMyNotificationsUseCase.kt
  dms-notification/notification-core/src/main/kotlin/team/aliens/dms/domain/notification/usecase/ReadNotificationUseCase.kt
  dms-notification/notification-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
  dms-notification/notification-presentation/src/main/kotlin/team/aliens/dms/domain/notification/NotificationWebAdapter.kt
Due: overall, notification-service, Notification Service

refactor: (#943) 스케줄러 테스트코드 변경
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/stub/GetVolunteerServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/usecase/ConvertVolunteerScoreToPointUseCaseTest.kt
  dms-main/main-infrastructure/src/test/kotlin/team/aliens/dms/scheduler/OutboxIntegrationTest.kt
Due: none

feat: (#953) linkIdentifier 반환하도록 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/CommandNoticeServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/point/service/CommandPointService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/point/service/CommandPointServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/point/spi/CommandPointHistoryPort.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/point/PointHistoryPersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/point/repository/PointHistoryJpaRepository.kt
Due: overall, main-service, Main Service

fix: (#953) 빌드에러 수정
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/point/service/CommandPointServiceImpl.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/point/stub/CommandPointServiceStub.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/usecase/ConvertVolunteerScoreToPointUseCaseTest.kt
Due: overall, main-service, Main Service

fix:(#953) notice 반환되지 않는 문제 해결
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/CommandNoticeServiceImpl.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/usecase/ConvertVolunteerScoreToPointUseCaseTest.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/notice/NoticePersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/notice/repository/NoticeJpaRepository.kt
  dms-notification/notification-persistence/src/main/kotlin/team/aliens/dms/persistence/notification/mapper/NotificationOfUserMapper.kt
Due: overall, main-service, notification-service, Main Service, Notification Service

style:(#953) detekt 적용
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/notice/repository/NoticeJpaRepository.kt
Due: overall, main-service, Main Service

fix: Notification DB에 Quartz 테이블 스키마 추가
  dms-notification/notification-infrastructure/src/main/resources/db/migration/V2__create_quartz_tables.sql
Due: overall, notification-service, Notification Service

feat: (#959) 알림 내역 내림차순 정렬 로직 추가
  dms-notification/notification-persistence/src/main/kotlin/team/aliens/dms/persistence/notification/NotificationOfPersistenceAdapterOfUser.kt
Due: overall, notification-service, Notification Service

feat: (#959) 필드 반환하도록 추가
  dms-notification/notification-core/src/main/kotlin/team/aliens/dms/domain/notification/model/Notification.kt
Due: overall, notification-service, Notification Service
