Repository team-aliens/DMS-Backend: changes, and which Codecov flags are due for each by the changed paths.
All: overall, main-service, notification-service, gateway-service, Main Service, Notification Service, Gateway Service

refactor: (#933) 중복 테스트 실행 제거 및 단일 job으로 최적화
  .github/workflows/CI.yml
Due: none

chore: (#933) ci 파일 롤백
  .github/workflows/CI.yml
Due: none

refactor: (#933) test job 의 jacocoReport 를 재사용하여서 test-all job 에서 pr 댓글을 추가하도록 변경
  .github/workflows/CI.yml
Due: none

feat: (#963) 최근 게시물 조회 api 생성
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/dto/NoticeResponse.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/GetNoticeService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/service/GetNoticeServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/spi/QueryNoticePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/notice/usecase/QueryLatestNoticeUseCase.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/notice/NoticePersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/notice/repository/NoticeJpaRepository.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/notice/NoticeWebAdapter.kt
Due: overall, main-service, Main Service

refactor: (#962) race condition 문제를 rabbitMQ 단일 처리 지점 생성으로 해결
  dms-main/main-core/src/main/kotlin/team/aliens/dms/common/spi/OutboxPort.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/event/handler/DeviceTokenEventHandler.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/event/handler/NotificationEventHandler.kt
  dms-main/main-infrastructure/src/main/resources/application.yml
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/outbox/OutboxPersistenceAdapter.kt
Due: overall, main-service, Main Service

refactor: (#962) EventHandler 테스트에서 publishMessage 관련 테스트 제거
  dms-main/main-infrastructure/src/test/kotlin/team/aliens/dms/event/handler/DeviceTokenEventHandlerTest.kt
  dms-main/main-infrastructure/src/test/kotlin/team/aliens/dms/event/handler/NotificationEventHandlerTest.kt
Due: none

refactor: (#966) point 세부 topic plus -> bonus로 네이밍 변경
  contracts/enum-contracts/notification-enum/src/main/kotlin/team/aliens/dms/contract/model/notification/PointDetailTopic.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/point/model/PointHistory.kt
  dms-notification/notification-infrastructure/src/main/resources/db/migration/V3__rename_point_detail_topic_plus_to_bonus.sql
Due: overall, main-service, notification-service, Main Service, Notification Service

fix: (#969) point Detail Topic 명시적으로 반환하도록 수정
  dms-notification/notification-core/src/main/kotlin/team/aliens/dms/domain/notification/dto/NotificationResponse.kt
Due: none

style: (#969) ktlint 포맷팅 적용
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/volunteer/service/GetVolunteerServiceImpl.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/usecase/ConvertVolunteerScoreToPointUseCaseTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/model/NotificationTest.kt
  dms-notification/notification-core/src/test/kotlin/team/aliens/dms/domain/notification/service/NotificationServiceImplTest.kt
  dms-notification/notification-infrastructure/src/main/kotlin/team/aliens/dms/thirdparty/notification/FCMAdapter.kt
Due: overall, main-service, notification-service, Main Service, Notification Service

refactor: (#973) 커맨드 테스트 검증 보강
  .gitignore
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/auth/service/impl/CommandAuthCodeServiceImplTest.kt
  dms-main/main-core/src/test/kotlin/team/aliens/dms/domain/volunteer/usecase/ConvertVolunteerScoreToPointUseCaseTest.kt
Due: none

fix: (#978) EntityGraph를 활용하여 n+1 문제 해결
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/student/repository/StudentJpaRepository.kt
Due: overall, main-service, Main Service

fix: (#980) 중복 알림 발송 방지
  .gitignore
  dms-notification/notification-infrastructure/src/main/resources/db/migration/V4__add_unique_user_id_to_tbl_device_token.sql
  dms-notification/notification-persistence/src/main/kotlin/team/aliens/dms/persistence/notification/DeviceTokenPersistenceAdapter.kt
  dms-notification/notification-persistence/src/main/kotlin/team/aliens/dms/persistence/notification/entity/DeviceTokenJpaEntity.kt
Due: overall, notification-service, Notification Service

feat: (#982) teacher 도메인 생성
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/model/Role.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/model/Teacher.kt
Due: overall, main-service, Main Service

feat: (#982) daybreak(새벽자습) 도메인 생성
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyApplication.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/Status.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/StudyType.kt
Due: overall, main-service, Main Service

feat: (#982) 영속성 모델 생성
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyType.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/entity/DaybreakStudyApplicationJpaEntity.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/entity/DaybreakStudyTypeJpaEntity.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/entity/TeacherJpaEntity.kt
Due: overall, main-service, Main Service

style: (#982) category대신 type키워드 사용
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyApplication.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyType.kt
Due: overall, main-service, Main Service

feat: (#982) teacher 도메인에 role 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/model/Teacher.kt
Due: overall, main-service, Main Service

feat: (#982) mapper 추가
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/entity/DaybreakStudyTypeJpaEntity.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/mapper/DaybreakStudyApplicationMapper.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/mapper/DaybreakStudyTypeMapper.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/entity/TeacherJpaEntity.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/mapper/TeacherMapper.kt
Due: overall, main-service, Main Service

style: (#982) 사용되지 않는 import 문 삭제
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/entity/DaybreakStudyApplicationJpaEntity.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/entity/TeacherJpaEntity.kt
Due: none

feat: (#982) Authority에 TEACHER 권한 추가
  dms-gateway/gateway-core/src/main/kotlin/team/aliens/dms/domain/auth/model/Authority.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/auth/model/Authority.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/filter/PassportFilter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/principle/TeacherDetails.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/principle/TeacherDetailsService.kt
Due: overall, main-service, gateway-service, Main Service, Gateway Service

feat: (#982) teacher sevice, port, adapter 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/service/GetTeacherService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/service/GetTeacherServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/service/TeacherService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/spi/QueryTeacherPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/spi/TeacherPort.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/TeacherPersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/mapper/TeacherMapper.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/repository/TeacherJpaRepository.kt
Due: overall, main-service, Main Service

fix: (#982) studyTypeId로 컬럼 변경
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyApplication.kt
Due: none

feat: (#982) Teacher Userdetails 추가
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/principle/TeacherDetails.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/principle/TeacherDetailsService.kt
Due: overall, main-service, Main Service

fix: (#982) mapper에 studyTypeId로 변경된 컬럼 적용
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/mapper/DaybreakStudyApplicationMapper.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/mapper/DaybreakStudyTypeMapper.kt
Due: overall, main-service, Main Service

fix: (#982) reason 속성의 크기를 VARCHAR(200)으로 수정
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/entity/DaybreakStudyApplicationJpaEntity.kt
Due: none

feat: (#982) flyway 파일 V18, V19 생성
  dms-main/main-infrastructure/src/main/resources/db/migration/V18__create_tbl_teacher.sql
  dms-main/main-infrastructure/src/main/resources/db/migration/V19__create_tbl_daybreak_study_type_and_tbl_daybreak_study_application.sql
Due: overall, main-service, Main Service

feat: (#982) 새벽자습 신청 id에 초기값 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyApplication.kt
Due: none

feat: (#982) SecurityConfig 설정 추가
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
Due: overall, main-service, Main Service

feat: (#982) daybreak usecase 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/ApplyDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryDaybreakStudyTypesUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryManagerDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryTeacherDaybreakStudyApplicationUseCase.kt
Due: overall, main-service, Main Service

feat: (#982) daybreak 영속성 어댑터 추가
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyTypePersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/repository/DaybreakStudyApplicationJpaRepository.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/repository/DaybreakStudyTypeJpaRepository.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/repository/vo/QueryGeneralTeacherDaybreakStudyApplicationVO.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/repository/vo/QueryHeadTeacherDaybreakStudyApplicationVO.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/repository/vo/QueryManagerDaybreakStudyApplicationVO.kt
Due: overall, main-service, Main Service

feat: (#982) daybreak port추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/CommandDaybreakStudyApplicationPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/CommandDaybreakStudyTypePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/DaybreakStudyApplicationPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/DaybreakStudyTypePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyApplicationPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyTypePort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/vo/HeadTeacherDaybreakStudyApplicationVO.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/vo/ManagerDaybreakStudyApplicationVO.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/vo/TeacherDaybreakStudyApplicationVO.kt
Due: overall, main-service, Main Service

feat: (#982) daybreakWebAdapter 및 dto 생성
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/dto/request/ApplyDaybreakStudyApplicationRequest.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/dto/response/DaybreakResponse.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/DaybreakWebAdapter.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/dto/ApplyDaybreakStudyApplicationWebRequest.kt
Due: overall, main-service, Main Service

feat: (#982) daybreak service 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/exception/DaybreakStudyApplicationAlreadyExistsException.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/exception/DaybreakStudyTypeNotFoundException.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/exception/error/DaybreakErrorCode.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/CheckDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/CheckDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/CommandDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/CommandDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/DaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakServiceImpl.kt
Due: overall, main-service, Main Service

fix: (#982) 새벽 자습 신청 조회 api 분리
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/dto/response/DaybreakResponse.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryGeneralTeacherDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryHeadTeacherDaybreakStudyApplicationUseCase.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/DaybreakWebAdapter.kt
Due: overall, main-service, Main Service

fix: (#982) flyway V18 수정
  dms-main/main-infrastructure/src/main/resources/db/migration/V18__create_tbl_teacher.sql
Due: overall, main-service, Main Service

fix: (#982) Authority에 head_teacher와 general_teacher 추가
  dms-gateway/gateway-core/src/main/kotlin/team/aliens/dms/domain/auth/model/Authority.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/auth/model/Authority.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryGeneralTeacherDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/model/Role.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/model/Teacher.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/service/GetTeacherService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/service/GetTeacherServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/service/TeacherService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/spi/QueryTeacherPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/teacher/spi/TeacherPort.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/filter/PassportFilter.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/principle/GeneralTeacherDetails.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/principle/GeneralTeacherDetailsService.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/principle/HeadTeacherDetails.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/principle/HeadTeacherDetailsService
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/TeacherPersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/entity/TeacherJpaEntity.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/teacher/mapper/TeacherMapper.kt
Due: overall, main-service, gateway-service, Main Service, Gateway Service

fix: (#982) getAuthority 메서드 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/common/service/security/SecurityService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/common/service/security/SecurityServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/common/spi/SecurityPort.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityAdapter.kt
Due: overall, main-service, Main Service

feat: (#982) 새벽 자습 신청 상태 바꾸기 기능 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/dto/request/ChangeDaybreakStudyApplicationStatusRequest.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/exception/DaybreakStudyApplicationNotFoundException.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/exception/error/DaybreakErrorCode.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/model/DaybreakStudyApplication.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/CommandDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/CommandDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/CommandDaybreakStudyApplicationPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyApplicationPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/ChangeStatusDaybreakStudyApplicationUseCase.kt
  dms-main/main-infrastructure/src/main/kotlin/team/aliens/dms/global/security/SecurityConfig.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/repository/DaybreakStudyApplicationJpaRepository.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/DaybreakWebAdapter.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/dto/ChangeDaybreakStudyApplicationStatusWebRequest.kt
Due: overall, main-service, Main Service

feat: (#982) 선생님 새벽 자습 신청 조회 시 날짜로 조회 기능 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakService.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/service/GetDaybreakServiceImpl.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/spi/QueryDaybreakStudyApplicationPort.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryGeneralTeacherDaybreakStudyApplicationUseCase.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/daybreak/usecase/QueryHeadTeacherDaybreakStudyApplicationUseCase.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/daybreak/DaybreakStudyApplicationPersistenceAdapter.kt
  dms-main/main-presentation/src/main/kotlin/team/aliens/dms/domain/daybreak/DaybreakWebAdapter.kt
Due: overall, main-service, Main Service

feat: (#982) 이용 가능한 기능 테이블에 컬럼 daybreakService 추가
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/school/dto/SchoolResponse.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/school/model/AvailableFeature.kt
  dms-main/main-core/src/main/kotlin/team/aliens/dms/domain/school/usecase/QueryAvailableFeaturesUseCase.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/school/entity/AvailableFeatureJpaEntity.kt
  dms-main/main-persistence/src/main/kotlin/team/aliens/dms/persistence/school/mapper/AvailableFeatureMapper.kt
Due: overall, main-service, Main Service

Path conditions:
  overall: any of: dms-main/, dms-notification/, dms-gateway/, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  main-service: any of: dms-main/, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  notification-service: any of: dms-notification/, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  gateway-service: any of: dms-gateway/, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  Main Service: any of: dms-main/**, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  Notification Service: any of: dms-notification/**, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
  Gateway Service: any of: dms-gateway/**, but not: **/test/**, **/stub/**, **/*Test.kt, **/*Tests.kt, **/config/**, **/exception/**, **/dto/**, **/entity/**, **/*Application.kt, **/contracts/**, **/*Request.kt, **/*Response.kt, **/*Properties.kt
